
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', sans-serif;
}
button{
    border: none;
    background: none;
}
button:hover{
    opacity: 65%;
}
#content{
    display: grid;
    grid-template-columns: 18vw 78vw;
    margin: 10px;
}
#mainTitle{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 20px;
    margin-top: 0px;
}
#left{
    grid-column: 1/2;
    line-height: 2.5;
    display: flex;
    flex-direction: column;
    
}
#mainDate{
    font-size: larger;
    grid-column-end: 3;
    grid-row: 1/2;
    justify-self: end;
    align-self: center;
}
.taskSort, .projSort{
    text-align: left;
    font-size: large;
    display: flex;
    flex-direction: column;
}
#newProjectBtn{
    position: relative;
    left: 10px;
    text-align: left;
}
#newProjectModal{
    display: none;
}

#right{
    grid-column: 2/3;

}
#newItemBtn{
    width: 100%;
    font-size: larger;
    text-align: center;
    background-color: rgb(221, 221, 221);
    height: 2em;
    margin-top: 8px;
}
#newItemModal{
    display: none;
    position: absolute;
    margin: 10px;
}
.error{
    color: red;
    font-size: smaller;
}
input{
    font-family: 'Arial', sans-serif;
}
#submitTask{
    font-size: smaller;
}
.toDoItems{
    display: grid;
    grid-template-columns: 50px 2fr 120px 50px;
    grid-template-rows: 30px 30px 30px;
    border: solid;
    border-top: none;
}
.checkbox{
    grid-row: 2/3;
}
.itemTitle{
    grid-row: 1/2;
    grid-column: 2/3;
}
.itemDescription{
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: small;
}
.itemDueDate{
    grid-row: 3/4;
    grid-column: 3/4;
    align-self: center;
    font-size: smaller;
    justify-self: center;
}
.itemProject{
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: center;
    font-size: smaller;
}
.itemPriority{
    grid-column: 4/5;
}
.itemEdit{
    height: 18px;
    width: 18px;
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: end;
    justify-self: end;
    position: relative;
    top: 3px;
    right: 10px;
}
.itemDelete{
    grid-row: 3/4;
    grid-column: 4/5;
    margin: 5px;
    background-color: rgb(220, 0, 0);
    color: white;
    border-radius: 10%;
    font-size: 10px;
}

