html, body {
    height: auto;
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', sans-serif;
}
button{
    border: none;
    background: none;
}
button:hover{
    opacity: 65%;
}
#content{
    display: grid;
    grid-template-columns: 18vw 78vw;
    margin: 10px;
}
#mainTitle{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 20px;
    margin-top: 0px;
}
#left{
    grid-column: 1/2;
    line-height: 2.5;
    display: flex;
    flex-direction: column;
    
}
#mainDate{
    font-size: larger;
    grid-column-end: 3;
    grid-row: 1/2;
    justify-self: end;
    align-self: center;
}
.taskSort, .projSort{
    text-align: left;
    font-size: large;
    display: flex;
    flex-direction: column;
}
#newProjectBtn{
    position: relative;
    left: 10px;
    text-align: left;
}
#newProjectModal{
    display: none;
}

#right{
    grid-column: 2/3;

}
#newItemBtn{
    width: 100%;
    font-size: larger;
    text-align: center;
    background-color: rgb(221, 221, 221);
    height: 2em;
    margin-top: 8px;
}
#itemContainer{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center
}
#newItemModal{
    display: grid;
    position: absolute;
    margin: auto;
    height: 60%;
    width: 60%;
    background-color: white;
    border: 1px solid rgb(54, 54, 54);
}
#modalContent{
    display: grid;
    grid-template-rows: 50px auto;
    grid-auto-columns: auto 50px;
}
#modalContent > p{
    grid-row: 1/2;
    margin: auto 20px;
    font-size: 18px;
}
#itemCloseBtn{
    grid-row: 1/2;
    height: 30px;
    width: 30px;
    justify-self: center;
    align-self: center;
}
#myForm{
    grid-row: 2/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20%;
    grid-gap: 20px;
    margin: 0px 20px 10px;
    font-size: 15px;
}
#myForm > label{
    display: flex;
    flex-direction: column;
}
label:first-child > span{ /* error under title */
    position: relative;
    top: -15px;
}

label:nth-child(2){ /* description */
    grid-row: 2/5;
}
label:nth-child(2) > textarea{
    height: 70%;
}
#myForm > label > *{
    margin: 10px;
}
.error{
    color: red;
    font-size: 11px;
}
input{
    font-family: 'Arial', sans-serif;
}
#submitTask{
    font-size: 16px;
    width: 60%; 
    height: 80%;
    justify-self: center;
}
#submitTask:hover{
    background-color: rgb(230, 230, 230);
    opacity: 100%;
}
.toDoItems{
    display: grid;
    grid-template-columns: 50px 2fr 120px 50px;
    grid-template-rows: 30px 30px 30px;
    border: solid;
    border-top: none;
}
.checkbox{
    grid-row: 2/3;
}
.itemTitle{
    grid-row: 1/2;
    grid-column: 2/3;
}
.itemDescription{
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: small;
}
.itemDueDate{
    grid-row: 3/4;
    grid-column: 3/4;
    align-self: center;
    font-size: smaller;
    justify-self: center;
}
.itemProject{
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: center;
    font-size: smaller;
}
.itemPriority{
    grid-column: 4/5;
}
.itemEdit{
    height: 18px;
    width: 18px;
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: end;
    justify-self: end;
    position: relative;
    top: 3px;
    right: 10px;
}
.itemDelete{
    grid-row: 3/4;
    grid-column: 4/5;
    margin: 5px;
    background-color: rgb(220, 0, 0);
    color: white;
    border-radius: 10%;
    font-size: 10px;
}